.display
    position: relative
    max-width: 100%

    &__deck
        left: 50px
        top: 100px

        position: absolute

        &-card
            width: 100px
            position: absolute

        &-card-img
            max-width: 100%
            object-fit: contain

        &-trump-card
            width: 100px
            position: absolute
            z-index: -1
            

        &-trump-card-img
            max-width: 100%
            object-fit: contain

    &__fall
        right: 150px
        top: 100px
        position: absolute

        &-null-card
            width: 100px
            position: absolute
            opacity: 0.5

        &-null-card-img
            max-width: 100%
            object-fit: contain

        &-card
            width: 100px
            position: absolute

        &-card:first-child
            margin-top: 0

            
        &-card-img
            max-width: 100%
            object-fit: contain

@for $i from 3 through 12
    .display__deck-card:nth-child(#{$i - 3})
        margin-top: calc(20px * $i)

@for $i from 1 through 8
    .display__fall-card:nth-child(#{$i})
        margin-top: calc(20px * ($i - 1))
