.table
    position: absolute
    top: calc(50% - 95px)
    left: 50%

    transform: translateX(-50%)

    display: flex

    &__card
        width: 100px
        margin: 0 10px

        & img
            max-width: 100%
